@import "~bootstrap/scss/bootstrap";
@import "./storage.css";

@font-face 
{
    font-family: "Pointless";
    src: url('../fonts/Pointless.ttf');
}

@font-face 
{
    font-family: "CreatoDisplay";
    src: url('../fonts/CreatoDisplay-Regular.otf');
}

@font-face 
{
    font-family: "CreatoDisplayItalic";
    src: url('../fonts/CreatoDisplay-LightItalic.otf');
    font-style: italic, oblique;
}