header
{
    background-color: black;
    height: 6vh;
}

main
{
    height: 94vh;
}

aside
{
    background-color: rgb(59, 59, 59);
    height: 100%;
    width: 20%;
}

.directory-content
{
    background-color: rgb(26, 26, 26);
    height: 100%;
    width: 80%;
}

.brand
{
    font-size: 1.25em;
    font-family: 'Pointless';
    color: white;
}