header
{
    background-color: black;
    height: 6vh;
}

main
{
    height: 94vh;
}

aside
{
    background-color: rgb(59, 59, 59);
    height: 100%;
    width: 20%;
}

.directory-content
{
    background-color: rgb(26, 26, 26);
    height: 100%;
    width: 80%;
}

.directory-content-current-path
{
    color: rgb(156, 156, 156);
    font-family: "CreatoDisplayItalic";
}

.brand
{
    font-size: 1.2em;
    font-family: 'Pointless';
    color: white;
}

.toggle-arrow
{
    width: 10px;
}

.folder-image
{
    width: 20px;
}

.directory-selector
{
    cursor: pointer;
}

.directory-explorer
{
    padding: 10px;
}

.directory-selector-name
{
    color: white;
}

.directory-selector > :nth-child(-n+3)
{
    margin-left: 5px;
    margin-right: 5px;
}

.directory-selector > :nth-child(n + 5) 
{
    margin-left: 5px;
}